<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RetailInventoryToSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7DFE49AD1D057D4100EDF2FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DFE49C41D057D4200EDF2FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DFE49CF1D057D4200EDF2FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
